*~
.idea
nbproject
/includes/vendor/
/includes/configuration/configuration.inc.php
/includes/formbase_classes_generated/*.class.php
/includes/meta_controls/*.class.php
/includes/meta_controls/generated/*Gen.class.php
/includes/model/*.class.php
/includes/model/generated/*.class.php
/includes/model/generated/_class_paths.inc.php
/includes/model/generated/_type_class_paths.inc.php
/drafts/*_list.tpl.php
/drafts/*_edit.php
/drafts/*_list.php
/drafts/*_edit.tpl.php
/drafts/panels/*EditPanel.tpl.php
/drafts/panels/*ListPanel.class.php
/drafts/panels/*EditPanel.class.php
/drafts/panels/*ListPanel.tpl.php
/includes/tmp/cache/i18n.po/
/includes/tmp/cache/soap/
/includes/tmp/cache/qquery/
.DS_Store
*.orig
