/* Margin resets for block-level elements */
* { margin: 0px;padding: 0px; }
html,body {
	min-height: 100%;
	width: 100%;
	height: 100%;
	text-align:left;
	margin: 0;
	padding: 0;	
	background-color: #FFF;
	color: #111;
	font-family: Verdana, Arial, Helvetica, FreeSans, sans-serif;
	font-style: normal;
	font-size: 0.9em;
	line-height: 1em;
}

html>body, html>body #page {
	height: auto;
}

a:link, a:visited { text-decoration: none; color:#780000;}
a:hover { text-decoration: underline; color:#111;}
pre { font-family: 'Lucida Console', 'Courier New', 'Courier', 'FreeMono', monospaced; font-size: 11px; line-height: 13px; }

h1, h2, h3, h4, h5, h6, p, pre, blockquote, cite, label, dl, ul, ol, fieldset, address {
	clear: both;
	margin: 1em 0;
	padding: 0;
	text-indent: 0;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin: .5em 0 .3em 0;
}

h1 { font-size: 2.0em;}
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

p {
	clear: inherit;
	text-align:left;
}

table {
	border-collapse: collapse;
	border-spacing: .3em;
	clear: both;
}

caption, th {
	text-align: left;
}

table, td {
	font-size: inherit;
}

ul, ol, li, dd, blockquote {
	margin-left: 1em;
	text-align: left;
}

address, abbr, acronym {
	font-style: normal;
}

acronym, abbr {
	border-bottom: 1px dotted #333;
	cursor: help;
}

acronym {
	text-transform: uppercase;
}

pre, kbd, code, samp, tt, var {
	font-family: monospace;
}

pre {
	white-space: pre-wrap;       /* css-3 */
}

del {
	text-decoration: line-through;
}

/* get forms to show up correctly */

form {
	margin: 1em 0;
	padding: 0;
}

form label {
	cursor: pointer;
	margin: 0;
	padding: .3em;
}

fieldset {
	border: none;
}

select, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

/* list element margins and default styles */

ul { list-style-type: disc; }
ul ul { list-style-type: circle; }
ul ul ul { list-style-type: square; }
ul ul ul ul { list-style-type: disc; }

ol { list-style-type: decimal; }
ol ol { list-style-type: upper-alpha; }
ol ol ol { list-style-type: lower-roman; }
ol ol ol ol { list-style-type: decimal; }

/* Miscellaneous oddities and fixes */

a img {
	border: none;
}

hr {
	background-color: #666;
	border-width: 0;
	height: 1px;
	margin:3px 0px;
	text-align: left;
	width: 95%;
}

iframe {
	border-width: 0;
}

:focus {
	outline: 0;
}

/* Standard HTML Form Controls */
input.button { border: 1px solid #111; font: 11px 'Arial', 'Helvetica'; font-weight: bold; background-color: #F6F6F6; color:#780000;}
input.button:hover { background-color: #FFF; color:#780000}

input.textbox, textarea.textbox { font: 12px 'Arial', 'Helvetica'; width: 200px; background-color: #F6F6F6; border: 1px solid #111; padding: 2px 3px 2px 3px;}
textarea.textbox { height: 120px; }
	input.textbox:focus, textarea.textbox:focus {background-color: #fff; border-color: #780000;}

select.listbox { font: 12px 'Arial', 'Helvetica'; width: 208px; background-color: #F6F6F6; border: 1px solid #111; color:#111;}
	select.listbox:focus { background-color: #fff; border-color: #780000;}
	a.listboxReset { font-family: verdana, arial, helvetica; font-size: 8pt; text-decoration: none; color: #780000; }
	a.listboxReset:hover { text-decoration: underline; }

/**
  * Various QControl-specific Styles
  */

/* QFileAsset */
div.fileassetDbox { border: 4px solid #111; background-color: #EFEEEE; padding: 20px; width: 400px; overflow: auto; }
	div.fileassetDbox h1 { margin: 0; }
	div.fileassetDbox input { padding: 3px; margin-right: 5px; }

/* QDialogBox */
div.dialogbox { border: 4px solid #111; background-color: #fff; padding: 20px; width: 400px; overflow: auto; }

/* QDateTimePicker */
span.datetimepicker { }
	span.datetimepicker select { font: 12px 'Arial', 'Helvetica'; background-color: #F6F6F6; border: 1px solid #111; }
	span.datetimepicker select:focus { background-color: #fff; border-color: #780000; }
	span.datetimepicker select.month { width: 55px; }
	span.datetimepicker select.day { width: 45px; margin-left: 8px; }
	span.datetimepicker select.year { width: 60px; margin-left: 8px; }
	span.datetimepicker select.hour { width: 65px; margin-left: 12px; margin-right: 2px; }
	span.datetimepicker select.minute { width: 45px; margin-left: 2px; margin-right: 2px; }
	span.datetimepicker select.second { width: 45px; margin-left: 2px; }

/* QDataGrid */
table.datagrid { border: 1px solid #111; width:100%; overflow:auto; }
	table.datagrid caption, table.datagrid tfoot { padding-bottom: 4px; overflow: auto; }
		table.datagrid span.left { float: left; font-size: 10px; display: block; }
		table.datagrid span.right { float: right; font-size: 10px; display: block; }
	table.datagrid tr { background-color: #fff; }
		table.datagrid tr.alternate { background-color: #EFEEEE; }
	table.datagrid th { background-color: #111; padding: 3px 5px 3px 5px; text-align: left; color:#FFF;}
		table.datagrid th a { color: #FFF; text-decoration: none; }
		table.datagrid th a:hover { color: #FFF; text-decoration: underline;}
	table.datagrid td { padding: 5px; }
		table.datagrid td a { color: #111; }
		table.datagrid td a:hover { color: #000; text-decoration: underline; }
	table.datagrid tfoot { border-top: 1px solid #111;} 

/* QPaginator */
span.paginator { margin: 0; padding: 0; }
	span.paginator span { list-style-type:none; display: inline; padding: 0; margin: 0; }
		span.paginator span.page a { text-decoration: none; color: #000000; padding: 0 3px 0 3px; margin: 0 2px 0 2px;}
		span.paginator span.page a:hover { background-color: #F6F6F6; }
		span.paginator span.arrow { font-weight: bold; color: #ccc; margin: 0; padding: 0 3px 0 3px; }
		span.paginator span.arrow a { font-weight: bold; color: #000; text-decoration: none; }
		span.paginator span.selected { font-weight: bold; background-color: #F6F6F6; padding: 0 3px 0 3px; margin: 0 2px 0 2px; border: 1px; border-style: solid; }
		span.paginator span.break { color: #780000; margin: 0 5px 0 5px; }
		span.paginator span.ellipsis { color: #780000; }

/* QCalendar */
div.calendar { width: 200px; border: 1px solid #111; background-color: #ccf; }
	div.calendar div.navigator { background-color: #111; overflow: auto; height: 100%; color: #fff; padding: 2px 6px 2px 6px; }
	div.calendar div.navigator div.left { float: left; }
	div.calendar div.navigator div.month { float: left; width: 80px; text-align: center; font-weight: bold; font-size: 11px; }
	div.calendar div.navigator div.year { float: right; }
	div.calendar div.navigator div.year span { font-size: 11px; font-weight: bold; margin-left: 6px; margin-right: 6px; }
		div.calendar div.navigator a { color: #fff; text-decoration: none; }
		div.calendar div.navigator a:hover { text-decoration: underline; }
	div.calendar table { border: 0; margin-left: auto; margin-right: auto;}
		div.calendar th { text-align: center; border: 0; padding: 4px 2px 4px 2px; font-weight: bold; font-size: 10px;}
		div.calendar td { text-align: center; border-width: 0 0 1px 0; border-style: solid; border-color: black; padding: 0;}
			div.calendar td.lastRow { border-width: 0;}
			div.calendar td a { text-decoration: none; color: #000; display: block; padding: 2px 6px 2px 6px; }
			div.calendar td.today { background-color: #ccc; }
			div.calendar td.nonMonth a { color: #780000; }
			div.calendar td.selected { background-color: #c9a; font-weight: bold; }
			div.calendar td a:hover { background-color: #F6F6F6; color: #000; }
	div.calendar div.options { text-align: center; background-color: #111; }
		div.calendar div.options a { color: #fff; font-size: 10px; text-decoration: none;}
		div.calendar div.options a:hover { text-decoration: underline; }

/**
  * Styles for Custom Render Functions as defined in QControl.class.php
  */

div.renderWithName { padding: 4px 0 4px 0; overflow: auto; height: 100%; }
	div.renderWithName div.left { float: left; width: 200px; margin-right: 25px; }
	div.renderWithName div.required { font-weight: bold; text-transform: uppercase; }
	div.renderWithName div.left span.instructions { font: 10px 'Verdana', 'Arial', 'Helvetica'; color: #999; font-style: italic; text-transform: none;}

	div.renderWithName div.right { }
	div.renderWithName div.right span.error { margin-left: 15px; font: 10px 'Verdana', 'Arial', 'Helvetica'; color: #600;}

/**
  *   Layout Specific IDs
  */

#page { 
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	height: 100%;
	margin:0px auto;
	padding:0px;
	text-align:center;
}

#header { border-bottom:3px solid #111;background-color: #780000; color: #ffffff; height:50px; width:100%; text-align:left; }
	#headerLeft {  width: 49%; float:left; padding-left:1%;}
		#pageName { height:24px; font-size:14px; line-height:24px; font-weight:bold; }
		#categoryName, #codeVersion { height:12px; line-height:12px; font-size:10px; } 
		#pageLinks { height:12px; line-height:12px; font-size:10px; }
		.headerGray {font-style:italic;}
	#headerRight { width: 49%; text-align: right; float:right; padding-right:1%;}
		#viewSource, #closeWindow { height:36px; line-height:36px; font-size:16px;}
			#viewSource a, #closeWindow a { font-size:16px; font-weight:bold; color:#FFF;}
		#willOpen { height:12px; line-height:12px; font-size:10px; font-style:italic;}
	.headerSmall { font-size: 10px;}
	a.headerLink:link, a.headerLink:visited { color: #FFF;}
	a.headerLink:active, a.headerLink:hover { color: #F6F6F6; text-decoration:underline;}

#content { padding: 10px; clear:both; float:none; width:960px; margin:0px auto 50px auto;text-align:left;}
	a.bodyLink { color: #780000; }

div#draftList { }
	div#draftList h1 { margin: 0; font: 20px 'Georgia', 'Times New Roman', 'Times'; font-weight: bold; }
	div#draftList p { margin-top: 6px; margin-bottom: 18px;}

div#formControls { padding: 0 0 0 20px; }

div#formActions { background-color: #780000; padding: 10px; height: 20px; margin-top: 18px; border:1px solid #111; }
	div#formActions div#save { float: left; }
	div#formActions div#cancel { margin-left: 10px; float: left; }
	div#formActions div#delete { float: right; }
#pageTitle { float:left; width:49%; height:20px; line-height:20px; font-size:16px; font-weight:bold;}
#formDraftLink { float:right; width:49%; height:20px; line-height:20px; font-size:14px; text-align:right;}
div#dashboard { clear:both; }
	div#dashboard div#left { float: left; width: 200px; height: 100px; font-size: 10px; background-color: #F6F6F6; border: 1px solid #111; padding: 5px; }
	div#dashboard div#right { float: left; margin-left: 10px; width: 738px;}
	div#dashboard div#right div#pnlList { margin-bottom: 10px; border: 1px solid #111; padding: 5px; max-height: 300px; overflow: auto; }
	div#dashboard div#right div#pnlEdit { border: 1px solid #111; padding: 5px; background-color: #F6F6F6; max-height: 240px; overflow: auto; }

#footer {
	position: absolute;
	bottom: 0pt;
	left: 0pt;
	clear: both;
	background-color: #780000;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height:39px;
	width:100%;
	text-align:left;
	border-top: 3px solid #111;
}
	#footerLeft {  width: 150px; float:left; height:35px; padding-left:5px; padding-top: 4px;}
		#footerLeft a img { border: 0px;}
	#footerRight { width: 50%; text-align: right; float:right; padding-right:5px;}
		#footerRight div { height:18px; line-height: 18px; }
	.footerSmall { font-size: 10px; line-height: 18px;}
	a.footerLink { background-color:#780000; color: #FFF; border-bottom: 1px dotted #FFF;}

p.create { }
	p.create a { text-decoration: none; color: #780000; font-weight: bold; }
	p.create a:hover { text-decoration: underline; }

.code { background-color: #F6F6F6; padding:10px; font: 11px 'Lucida Console', 'Courier New', 'Courier', monospaced; overflow: auto; width: 98%; max-height: 560px;}
.codeDisplay {background-color: #F6F6F6; width: 400px; height: 400px; overflow: auto; margin: 10px; padding: 10px;}

.instructions { background-color: #F6F6F6; padding: 20px; margin:20px auto; line-height: 20px; max-height: 300px; width:90%; overflow: auto; text-align:left;border:1px solid #111;}
.instruction_title { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 22px; font-weight: bold; color: #780000; margin-bottom: 20px;}

.main_navigator { text-align: center; background-color: #111; padding: 5px 20px; color: #ffcc99; width:90%; margin:auto;border:1px solid #111;}
a.main_navlink { color: #EEE; font-weight: normal; }
a.main_navselected { color: #ffffff; font-weight: bold; text-transform: uppercase; }
.main_info {font: 12px Verdana, Arial, Helvetica, sans-serif; padding: 5px 20px; width:90%; background-color: #E6E6E6; margin:auto; border:1px solid #111;}
#part1 blockquote, #part2 blockquote, #part3 blockquote { width:90%; padding:5px 20px;margin:10px auto;}
#part1 blockquote ul, #part2 blockquote ul, #part3 blockquote ul { width:90%; padding:2px 20px;margin:5px auto;}

.warning { color: #aa0000; }

.textbox { width: 250px; font: 12px Verdana, Arial, Helvetica, sans-serif; text-align:left;}
.listbox { width: 250px; font: 12px Verdana, Arial, Helvetica, sans-serif; text-align:left;}
.button { font: 10px Verdana, Arial, Helvetica, sans-serif; border:1px solid #111; background-color:#780000; color:#FFF; padding:3px;}

.paginator_inactive_step { font-weight: bold; color: #aaaaaa; }
.paginator_active_step { font-weight: bold; color: #000000; text-decoration: none; }
.paginator_page { text-decoration: none; color: #000000; padding: 0px 4px 0px 4px; }
.paginator_selected_page { font-weight: bold; background-color: #ddccff; padding: 0px 4px 0px 4px; border: 1px; border-style: solid; }

.treenav_item {cursor: pointer; padding: 2px; font: 10px verdana; color:#111}
.treenav_item_selected {background-color: #780000; color: #FFF;}
.treenav_item_hover {background-color: #F6F6F6; color:#000}

.renamer_item { padding: 2px; cursor: pointer; }
.renamer_item_selected { background-color: #F6F6F6; }

.textbox_panel { padding: 10px 0px 10px 0px; width: 300px; height: 250px; background-color: #F6F6F6; text-align: center; }

.top_nav { font: 13px 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif; color: #F6F6F6; }

.top_nav_selected { font: 13px 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif; font-weight: bold; color: #FFF; }
.top_member_nav { font: 10px 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif; color: white; }



.selectedStyle {background-color: #FFF;}
.treenav {background-color: #FFF; width: 300px; height: 400px; overflow: auto; margin:10px; padding: 10px;}


.data_repeater_example {background-color:#eeffdd;padding:10px;width:200px;border:1px solid #111;float:left;margin:5px;}
.tc {width: 200px; height: 100px; border: 1px solid #780000; color: #111; font: 20px arial; font-weight: bold; text-align: center; vertical-align: middle;}

.panelDefault {width:400px;height:400px;background-color:#efefef;border-width:1px;border-style:solid;float:left;overflow:auto;}
.panelRight {margin-left: 5px;}
.projectTitle {font: 24px Georgia, Times New Roman, Serif; font-weight: bold; width: 100%;}

.file_asset_dbox { border: 1px solid #111; background-color: #fff; padding: 20px; width: 400px; overflow: auto; }
.file_asset_dbox h1 { margin: 0; }
.file_asset_dbox input { padding: 3px; margin-right: 5px; }

.file_asset a {color: #111;}
.file_asset_icon {border-width: 2px; border-style: solid; border-color: #111;}