/* red color:#780000; grey color:#F6F6F6; */
body { font-family: Arial, sans-serif; margin:0; padding: 0; }
a, a:visited, a:link { color: #780000; }
a:hover, a:active { color: #d90d0d; }

h1, h2, h3, h4, h5, h6 { font-family: serif; }

section { padding: 10px; }
footer { background: #333; color: #fff; padding: 10px; }

code pre { background: #f6f6f6; border: 1px solid #ddd; border-radius: 3px; padding: 10px; margin:10px auto; }
.warning { color: #d90d0d; }
.success { color: green; }

.datagrid { margin: auto; width: 100%; }
.datagrid th { background: #333; color: #fff; padding: 5px; }
.datagrid td { padding: 5px; }

#logo { float: left; height: 30px; }
#tagline a { color: #fff; font-weight: 700; line-height: 30px; margin-left: 10px; text-decoration: none; }

.link-list li { margin-top: 7px; }