.ib_main_image_pnl { 
	height: 200px; 
	width: 400px; 
	border: 1px solid #dedede; 
	border-radius: 3px;
	margin-top: 10px;
}
.ib_main_image { 
	cursor: pointer; 
	border: none;
	margin: 5px; 
}
.ib_thm {
	border: 1px solid #dedede; 
	width: 400px; 
	height: 100px; 
	overflow-x: auto; 
	white-space: nowrap; 
	overflow-y : hidden;
}
.ib_thm_image {
	cursor: pointer;
	height: 70px;
	margin: 5px; 
	padding: 1px; 
	border: none;
}
.ib_thm_selected { 
	border: 2px solid #780000; 
}
.ib_nav_button {
	margin-right: 10px;
    cursor: pointer;
}
textarea.ib_caption { 
	width: 400px; 
	height: 30px; 
	margin: 3px 0 3px 0; 
	padding: 0;
}

button[disabled] { cursor: not-allowed; }