<phpunit
	processIsolation="false"
    printerClass="PHPUnit_TextUI_ResultPrinter">
    <testsuites>
        <testsuite name="QCubed Unit">
            <directory>qcubed-unit</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>