{
	"repositories": [
        {
            "type": "vcs",
            "url": "https://github.com/qcubed/framework"
        }
    ],
	"require": {
		"php": ">=5.3.0",
		"qcubed/framework": "dev-feature-v3"
	},
	"minimum-stability": "dev"
}
